
body {
  background-color: rgb(61, 61, 66);
}

ul {
  list-style-type: none;
}

.backgroundVideo{
  opacity: 75%;
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.headerStyle{
  margin-top: 2.5%;
  margin-left: 6%;
  margin-right: 6%;
}

.mainStyle{
  display: flex;
  width: 100%;
  /* height: 100%; */
  height: 75vh;
  margin-bottom: 15vh;
  /* background-color: green; */
}

.smallNav{
  display: none;
}

.footerStyle{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  /* background-color: red; */
  /* margin-top: auto; */
  padding-bottom: 2.5%;
}

.footerElements{
  float: right;
  margin-right: 16%;
  /* background-color: green; */
  display: inline-flex;
}

.pixelIcon{
  width: 2.5vw;
  margin-left: 5px;
}

.pixelIcon:hover{
  opacity: 50%;
  
}

.contactSection{
  flex: 1;
  /* background-color: red; */
  /* height: 100%;
  width: 100%; */
  /* margin-top: 8%; */
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  justify-content: center;
  
}

.contactForm{
  /* width: auto; */
  display: inline-block;
  /* padding-left: 25%;
  padding-right: 25%; */
}

.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSection div{
  display: flex;
  /* align-items: left; */
  justify-content: space-between;
}

.contactTitle{
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.contactItem input, textarea{
  /* display: flex;
  justify-content: space-between; */
  width: 70%;
  /* display: inline; */
  /* background-color: red; */
 
}

.submitContact button {
  margin-top: 5%;
  width: 100%;
}


.pageStyle{
  /* background-color: hotpink; */
  height: 100vh;
  width: 100vw;
}

.aboutStyle{
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  /* background-color: maroon; */

  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera < 12.1 */
            animation: fadein 10s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.aboutContainers{
  /* background-color: mediumaquamarine; */
  padding-right: 2vw;
  
}


.aboutText {
  width: 150%;
  padding-right: 0;
  text-align: left;
}

.aboutImage{
  width: 70vw;
}


.aboutText p{
  font-size: 2vw;
}

/* ==================== iphone ======================== */

@media screen and (max-width: 600px){

  .bigNav{
    display: none;
  }

  .dropdownContainer{
/* background-color: lightpink; */
width: 100%;
padding-left: 35vw;
padding-right: 35vw;
  }

  .smallNav{
    display: block;
    position: 0;
    height: 20vh;
    /* background-color: magenta; */
  }

  
  .menuButton:active{
    opacity: 75%;
  }

  .dropdownItem{
    /* background-color: lightcoral; */
    transform: none;
  }

  
  .flex-row{
    display: inline-block;
  }

  .headerStyle{
    width: 100vw;
    text-align: center;
    margin: 0;
    margin-top: 10%;
  }

  .ulStyle{
    padding: 0;
  }

  .mx-2 a, span{
    font-size: 20px;
  }

  .contactSection{
    /* background-color: magenta; */
    height: 50vh;
  }

  .contactTitle{
    font-size: 6vw;
    margin-bottom: 3vh;
  }

  .submitContact button{
    font-size: 5vw;
    padding: 5px;
  }

  /* =============== about page ============= */

  .aboutStyle{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 15vw;
    margin-right: 15vw;
   
    /* display: flex; */
    display: block;
    height:55vh;
    overflow-y: scroll;
    /* background-color: maroon; */
  
    -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 10s; /* Firefox < 16 */
          -ms-animation: fadein 10s; /* Internet Explorer */
           -o-animation: fadein 10s; /* Opera < 12.1 */
              animation: fadein 10s;
  }
  
  .aboutContainers{
    /* background-color: mediumaquamarine; */
    /* padding-right: 2vw; */
    width: 100%; 
    
  }
  
  .aboutText {
    width: 100%;
    text-align: justify;
    /* background-color: mediumorchid; */
  }
  
  .aboutImage{
    /* width: 70vw; */
    padding: 0;
    margin: 0;
  }

  .aboutImage img{
    /* width: 70vw; */
    padding: 0;
    margin: 0;
  }
  
  .aboutText p{
    font-size: 6vw;
  }

  /* =================== footer ============== */

  .footerStyle{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 2.5%;
  }

  .footerElements{
    /* float: right; */
    margin-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pixelIcon{
    width: 10vw;
  }

}
